# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### Directories in CS648 Repository ###
Assignment-1/module1/node_modules/
Assignment-2/assignment2/node_modules/
Assignment-3/assignment3/node_modules/
Assignment-4/assignment4/api/node_modules/
Assignment-4/assignment4/ui/node_modules/
Assignment-5/assignment5/api/node_modules/
Assignment-5/assignment5/ui/node_modules/
Assignment-6/assignment6/api/node_modules/
Assignment-6/assignment6/ui/node_modules/
Assignment-7/assignment7/api/node_modules/
Assignment-7/assignment7/ui/node_modules/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
